@model EntregaFinalAcademiaFront.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";

}

@Html.HiddenFor(x=> x.Token)

<div class="text-center">
    <h1 class="display-4">Bienvenidos a la Entrega Final Academia .NET UMSA-SOFTTEK</h1>
</div>

<script src="~/js/Home/Home.js"> </script>