<h1>Usuarios</h1>
<button class="btn btn-primary m-3" onclick="AgregarUsuario()">Agregar Usuario</button>

<table id="usuarios" class="table table-striped" style="width:100%"></table>

<div id="UserAddPartial"></div>

<script src="~/js/User/User.js"></script>